.banner-01 {
  height: 20rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(to top right, #e2e8f0, #fefce8);
}

.display-products__first-wrapper {
  margin-top: 3rem;
}

.display-products__wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.display-products__header {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.display-products {
  margin-top: 4rem;
}

.banner-02 {
  margin-top: 3rem;
  height: 10rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(to top right, #e2e8f0, #f0fdf4);
}

/*slider */
.display-products__slider {
  overflow: hidden; /* Hide overflow */
  position: relative; /* Positioning for arrows */
  width: 300px; /* Set width to fit one product */
}

.display-products__products {
  display: flex; /* Use flexbox to align products horizontally */
  transition: transform 0.5s ease; /* Smooth transition for sliding */
}

.display-products__product {
  min-width: 300px; /* Width of each product */
  flex-shrink: 0; /* Prevent shrinking */
}

/* Arrow styles */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.arrow a {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-decoration: none;
  color: #000;
}
